<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>人才大厅</title>

        <!-- Bootstrap Core CSS -->
        <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="__CDN__/assets/css/index.css" rel="stylesheet">

        <!-- Plugin CSS -->
        <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdn.staticfile.org/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body id="page-top">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-menu">
                        <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                    </button>
                    <!--<a class="navbar-brand page-scroll" href="#page-top">{$site.name}</a>-->
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{:url('/')}">{:__('Home')}</a></li>
                        <li><a href="{:url('index/user/index')}">人才中心</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <div class="search" style="width: 100%; margin-top: 60px; overflow: hidden;">
            <div class="col-xs-7">
                <input type="text" placeholder="输入姓名、电话、工种、等级、毕业学校" class="form-control" name="search_value" id="search_value" value="" />
            </div>
            <div class="col-xs-5">
                <select id="search_type" class="input-xs">
                    <option value ="full_name">姓名</option>
                    <option value ="phone">电话</option>
                    <option value="profession">工种</option>
                    <option value="profession_level">等级</option>
                    <option value="graduate_school">毕业学校</option>
                </select>
                <button type="button" onclick="search()" class="btn btn-default btn-xs active">搜索</button>
            </div>
        </div>

        <div class="job">
            <ul class="list-unstyled">
                <li class="job-list">
                    <div  style="padding: 10px;">
                        <p class="text-left">姓名：张全蛋</p>
                        <p class="text-left">工种：程序员</p>
                        <p class="text-left">毕业学校：清华大学</p>
                        <p class="text-left">简历缩略简历缩略简历缩略简历缩略</p>
                    </div>
                </li>
                <li class="job-list">
                    <div style="padding: 10px; ">
                        <p class="text-left">姓名：张全蛋</p>
                        <p class="text-left">工种：程序员</p>
                        <p class="text-left">毕业学校：清华大学</p>
                        <p class="text-left">简历缩略简历缩略简历缩略简历缩略</p>
                    </div>
                </li>
                <li class="job-list">
                    <div style="padding: 10px; ">
                        <p class="text-left">姓名：张全蛋</p>
                        <p class="text-left">工种：程序员</p>
                        <p class="text-left">毕业学校：清华大学</p>
                        <p class="text-left">简历缩略简历缩略简历缩略简历缩略</p>
                    </div>
                </li>
                <li class="job-list">
                    <div style="padding: 10px; ">
                        <p class="text-left">姓名：张全蛋</p>
                        <p class="text-left">工种：程序员</p>
                        <p class="text-left">毕业学校：清华大学</p>
                        <p class="text-left">简历缩略简历缩略简历缩略简历缩略</p>
                    </div>
                </li>
                <li class="job-list">
                    <div style="padding: 10px; ">
                        <p class="text-left">姓名：张全蛋</p>
                        <p class="text-left">工种：程序员</p>
                        <p class="text-left">毕业学校：清华大学</p>
                        <p class="text-left">简历缩略简历缩略简历缩略简历缩略</p>
                    </div>
                </li>

            </ul>
        </div>

        <!-- jQuery -->
        <script src=https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js></script>
        <script>
            function search(){
                var search_type = document.getElementById("search_type").value;
                var search_value = document.getElementById("search_value").value;
                alert(search_value);
                gotoUrl(search_type,search_value);

            }

            //搜索拼接地址
            function gotoUrl(search_type,search_value) {
                var url = window.location.href; //url路径

                var k = url.indexOf('?');//indexOf() 方法可返回某个指定的字符串值在字符串中首次出现的位置。

                //地址拼接;
                var goUrl = url.substring(0, k) + '?search_type=' + search_type + '&search_value=' + search_value;
                //跳转路径
                window.location.href = goUrl;
            }

        </script>

        <!-- Bootstrap Core JavaScript -->
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>

</html>
