<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    {if isset($user)}
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('搜索用户')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[user_id]', [  $user['id'] => $user['username'].'-'.$user['mobile']], 1, ['class'=>'form-control', 'required'=>''])}
        </div>
    </div>
    {else/}
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('所属用户')}:</label>
        <div class="col-xs-4  col-sm-4 no-right-padding">
            <input id="search_value" class="form-control"  type="text" placeholder="输入姓名、电话、邮箱"  required>
        </div>
        <div class="col-xs-2 col-sm-2  no-padding ">
            <select id="search_type" class="height-34 full-width form-control" style="text-align: center">
                {foreach $searchTypeArr as $k=> $vo}
                <option value="{:$k}" {if condition="($Request.get.search_type == $k)" }selected {/if} >{:$vo} </option>
                {/foreach}
            </select>
        </div>
        <div class="col-xs-2 col-sm-2 no-padding">
            <a  class="btn btn-success full-width" onclick="getUserSelector()">搜索</a>
        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('所属用户')}:</label>
        <div class="col-xs-12 col-sm-8 user-selector-row">
            {:build_select('row[user_id]', [ '未选择所属用户'], 1, ['class'=>'form-control', 'required'=>''])}
        </div>
    </div>
    {/if}
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('姓名')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[full_name]" type="text" data-placeholder-node="{:__('Node tips')}" data-placeholder-menu="{:__('Menu tips')}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="c-age" class="control-label col-xs-12 col-sm-2">{:__('年龄')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-age" class="form-control" name="row[age]" type="text" value="" required>
        </div>
    </div>
    <div class="form-group">
        <label for="c-phone" class="control-label col-xs-12 col-sm-2">{:__('手机')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" class="form-control" name="row[phone]" type="text" value="" required>
        </div>
    </div>
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">{:__('性别')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[gender]', ['0'=>'女','1'=>'男'], 1, ['class'=>'form-control', 'required'=>''])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-weigh" class="control-label col-xs-12 col-sm-2">{:__('毕业学校')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" class="form-control" name="row[graduate_school]" type="text" value="" required>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('工种')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[profession_id]', $professions, null, ['class'=>'form-control', 'required'=>''])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('工种等级')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[profession_level_id]', $levels, null, ['class'=>'form-control', 'required'=>''])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-resume" class="control-label col-xs-12 col-sm-2">{:__('成长履历')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea name="row[resume]" id="c-resume" cols="60" rows="5" class="form-control editor" required></textarea>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<style scoped>
    .no-padding{
        padding: 0;
    }
    .no-right-padding{
        padding-right: 0;
    }
    .full-width{
        width: 100%;
    }
</style>
<script>
    function getUserSelector() {
        let search_type = document.getElementById("search_type").value;
        let search_value = document.getElementById("search_value").value;
        if (typeof (search_value) == "undefined" || search_value == '' || search_value == null) {
            alert("请输入搜索内容！");
            return false;
        }
        $.ajax(
            'jobhunter/buildUserSelector',{
                data :{
                    'search_type':search_type,
                    'search_value':search_value
                } ,
                success: function(res){
                    if (res.code===1){
                        layer.msg("点击 鼠标下方【所属用户】选框选择所属用户",{icon: 1})
                        $('.user-selector-row').html(res.data)
                        $('.user-selector-row select').click()
                    }else{
                        layer.msg("什么都没有搜索到",{icon: 0})
                    }
                }
            }
        );
    }
</script>
