<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group hidden">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-id" class="form-control" name="row[id]" value="{:$row['id']}" type="text" data-placeholder-node="{:__('Node tips')}" data-placeholder-menu="{:__('Menu tips')}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('工种等级名称')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" value="{:$row['name']}" data-placeholder-node="{:__('Node tips')}" data-placeholder-menu="{:__('Menu tips')}">
        </div>
    </div>
    <!--<div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">{:__('所属工种')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_select('row[profession_id]', $professions, $row['profession_id'], ['class'=>'form-control', 'required'=>''])}
        </div>
    </div>-->
    <div class="form-group">
        <label for="c-age" class="control-label col-xs-12 col-sm-2">{:__('工种等级简介')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-age" class="form-control" name="row[summary]" value="{:$row['summary']}" type="text" value="">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
