<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <div class="col-xs-12 col-sm-8 hidden">
            <input id="c-id" class="form-control" name="row[id]" type="text" value="{:$row['id']}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('工种')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[profession]" type="text" value="{:$row['profession']}" data-placeholder-node="{:__('Node tips')}" data-placeholder-menu="{:__('Menu tips')}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-age" class="control-label col-xs-12 col-sm-2">{:__('工种等级')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-age" class="form-control" name="row[profession_level]" type="text" value="{:$row['profession_level']}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
