<style>
    .profile-avatar-container {
        position:relative;
        width:100px;
    }
    .profile-avatar-container .profile-user-img{
        width:100px;
        height:100px;
    }
    .profile-avatar-container .profile-avatar-text {
        display:none;
    }
    .profile-avatar-container:hover .profile-avatar-text {
        display:block;
        position:absolute;
        height:100px;
        width:100px;
        background:#444;
        opacity: .6;
        color: #fff;
        top:0;
        left:0;
        line-height: 100px;
        text-align: center;
    }
    .profile-avatar-container button{
        position:absolute;
        top:0;left:0;width:100px;height:100px;opacity: 0;
    }
    .form-layer {height:100%;min-height:150px;min-width:300px;}
    .form-body {
        width:100%;
        overflow:auto;
        top:0;
        position:absolute;
        z-index:10;
        bottom:50px;
        padding:15px;
    }
    .form-layer .form-footer {
        height:50px;
        line-height:50px;
        background-color: #ecf0f1;
        width:100%;
        position:absolute;
        z-index:200;
        bottom:0;
        margin:0;
    }
    .form-footer .form-group{
        margin-left:0;
        margin-right:0;
    }
    .full-width{
        width: 100%
    }


    .w-e-toolbar {
        flex-wrap: wrap;
        -webkit-box-lines: multiple;
    }

    .w-e-toolbar .w-e-menu:hover{
        z-index: 10002!important;
    }

    .w-e-menu a {
        text-decoration: none;
    }

    .fullscreen-editor {
        position: fixed !important;
        width: 100% !important;
        height: 100% !important;
        left: 0px !important;
        top: 0px !important;
        background-color: white;
        z-index: 9999;
    }

    .fullscreen-editor .w-e-text-container {
        width: 100% !important;
        height: 95% !important;
    }
    .resumeEditor{
        padding-left: -20px;
        padding-right: -20px;
    }
</style>
<script src="/assets/wangeditor/wangEditor-fullscreen-plugin.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="http://unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="page-header">{:__('Profile')}</h2>
                    <form id="profile-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="{:url('api/user/profile')}">
                        {:token()}
                        <input type="hidden" name="avatar" id="c-avatar" value="{:$user->getData('avatar')}" />
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2"></label>
                            <div class="col-xs-12 col-sm-4">
                                <div class="profile-avatar-container">
                                    <img class="profile-user-img img-responsive img-circle plupload" src="{$user.avatar|cdnurl}" alt="">
                                    <div class="profile-avatar-text img-circle">{:__('Click to edit')}</div>
                                    <button id="plupload-avatar" class="plupload" data-mimetype="png,jpg,jpeg,gif" data-input-id="c-avatar"><i class="fa fa-upload"></i> {:__('Upload')}</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('Username')}:</label>
                            <div class="col-xs-12 col-sm-4">
                                <input type="text" class="form-control" id="username" name="username" value="{$user.username|htmlentities}" data-rule="required;username;remote({:url('api/validate/check_username_available')}, id={$user.id})" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
                            <div class="col-xs-12 col-sm-4">
                                <input type="text" class="form-control" id="nickname" name="nickname" value="{$user.nickname|htmlentities}" data-rule="required" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="c-bio" class="control-label col-xs-12 col-sm-2">{:__('Intro')}:</label>
                            <div class="col-xs-12 col-sm-8">
                                <input id="c-bio" data-rule="" data-tip="一句话介绍一下你自己" class="form-control" name="bio" type="text" value="{$user.bio|htmlentities}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="c-email" class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
                            <div class="col-xs-12 col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="c-email" name="email" value="{$user.email|htmlentities}" disabled placeholder="">
                                    <span class="input-group-btn" style="padding:0;border:none;">
                                        <a href="javascript:;" class="btn btn-info btn-change" data-type="email">{:__('Change')}</a>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="c-mobile" class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
                            <div class="col-xs-12 col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="c-mobile" name="mobile" value="{$user.mobile|htmlentities}" disabled placeholder="">
                                    <span class="input-group-btn" style="padding:0;border:none;">
                                        <a href="javascript:;" class="btn btn-info btn-change" data-type="mobile">{:__('Change')}</a>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">真实姓名:</label>
                            <div class="col-xs-12 col-sm-4">
                                <input type="text" class="form-control" id="fullname" name="fullname" value="{$job_hunter.full_name|htmlentities}" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">年龄:</label>
                            <div class="col-xs-12 col-sm-4">
                                <input type="text" class="form-control" id="age" name="age" value="{$job_hunter.age|htmlentities}" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">性别:</label>
                            <div class="col-xs-12 col-sm-4">
                                <div class="layui-input-block">
                                    {if condition="$job_hunter['gender'] == 1"}
                                        <input type="radio" name="gender" value="1" title="男" checked>男
                                        <input type="radio" name="gender" value="0" title="女" >女
                                    {else /}
                                        <input type="radio" name="gender" value="1" title="男">男
                                        <input type="radio" name="gender" value="0" title="女" checked>女
                                    {/if}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">毕业院校:</label>
                            <div class="col-xs-12 col-sm-4">
                                <input type="text" class="form-control" id="graduate_school" name="graduate_school" value="{$job_hunter.graduate_school|htmlentities}" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">工种:</label>
                            <div class="col-xs-12 col-sm-4">
                                <select class="form-control" style="" id="profession" name="profession">
                                    {volist name="profession" id="vo"}
                                    {if condition="$job_hunter['profession_id'] == $vo.id"}
                                    <option selected value="{$vo.id}">{$vo.name}</option>
                                    {else /}
                                    <option value="{$vo.id}">{$vo.name}</option>
                                    {/if}
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-2">工种等级:</label>
                            <div class="col-xs-12 col-sm-4">
                                <select class="form-control" style="" id="profession_level" name="profession_level">
                                    {volist name="level" id="vo"}
                                        {if condition="$job_hunter['profession_level_id'] == $vo.id"}
                                            <option selected value="{$vo.id}">{$vo.name}</option>
                                        {else /}
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        {/if}
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="" style="">
                            <label class="control-label col-xs-12 col-sm-2">履历:</label>
                            <!--这才是真的输入框-->
                            <textarea id="resumeTextarea" name="resume" style="width:100%; height:200px;display: none">{$job_hunter.resume}</textarea>
                        </div>
                        <!--这个是编辑器-->
                        <div class=" " id="resumeEditor"   name="resume">{$job_hunter.resume}</div>
                        <div class="form-group normal-footer">
                            <label class="control-label col-xs-12 col-sm-2"></label>
                            <div class="col-xs-12 col-sm-8">
                                <button type="submit" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="emailtpl">
    <form id="email-form" class="form-horizontal form-layer" method="POST" action="{:url('api/user/changeemail')}">
        <div class="form-body">
            <input type="hidden" name="action" value="changeemail" />
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3">{:__('New Email')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" class="form-control" id="email" name="email" value="" data-rule="required;email;remote({:url('api/validate/check_email_available')}, event=changeemail, id={$user.id})" placeholder="{:__('New email')}">
                    <span class="msg-box"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-12 col-sm-3">{:__('Captcha')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input type="text" name="captcha" id="email-captcha" class="form-control" data-rule="required;length(4);integer[+];remote({:url('api/validate/check_ems_correct')}, event=changeemail, email:#email)" />
                        <span class="input-group-btn" style="padding:0;border:none;">
                            <a href="javascript:;" class="btn btn-info btn-captcha" data-url="{:url('api/ems/send')}" data-type="email" data-event="changeemail">获取验证码</a>
                        </span>
                    </div>
                    <span class="msg-box"></span>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div class="form-group" style="margin-bottom:0;">
                <label class="control-label col-xs-12 col-sm-3"></label>
                <div class="col-xs-12 col-sm-8">
                    <button type="submit" class="btn btn-md btn-info">{:__('Submit')}</button>
                </div>
            </div>
        </div>
    </form>
</script>
<script type="text/html" id="mobiletpl">
    <form id="mobile-form" class="form-horizontal form-layer" method="POST" action="{:url('api/user/changemobile')}">
        <div class="form-body">
            <input type="hidden" name="action" value="changemobile" />
            <div class="form-group">
                <label for="c-mobile" class="control-label col-xs-12 col-sm-3">{:__('New mobile')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" class="form-control" id="mobile" name="mobile" value="" data-rule="required;mobile;remote({:url('api/validate/check_mobile_available')}, event=changemobile, id={$user.id})" placeholder="{:__('New mobile')}">
                    <span class="msg-box"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="mobile-captcha" class="control-label col-xs-12 col-sm-3">{:__('Captcha')}:</label>
                <div class="col-xs-12 col-sm-8">
                    <div class="input-group">
                        <input type="text" name="captcha" id="mobile-captcha" class="form-control" data-rule="required;length(4);integer[+];remote({:url('api/validate/check_sms_correct')}, event=changemobile, mobile:#mobile)" />
                        <span class="input-group-btn" style="padding:0;border:none;">
                            <a href="javascript:;" class="btn btn-info btn-captcha" data-url="{:url('api/sms/send')}" data-type="mobile" data-event="changemobile">获取验证码</a>
                        </span>
                    </div>
                    <span class="msg-box"></span>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div class="form-group" style="margin-bottom:0;">
                <label class="control-label col-xs-12 col-sm-3"></label>
                <div class="col-xs-12 col-sm-8">
                    <button type="submit" class="btn btn-md btn-info">{:__('Submit')}</button>
                </div>
            </div>
        </div>
    </form>
</script>
<script>

    function initEditor(){
        //https://www.kancloud.cn/wangfupeng/wangeditor3/335777    参照
        var E = window.wangEditor;
        var editor= new E('#resumeEditor')
        if (editor.textSelector===undefined){
            console.error("编辑器初始化失败")
        }else {
            console.log("编辑器初始化成功")
        }
        console.log(console.memory)
        //return false;

        // 监控变化，同步更新到 textarea
        var resumeTextarea = $('#resumeTextarea')
        editor.customConfig.onchange = function (html) {
            resumeTextarea.val(html)
        }


        editor.customConfig.uploadImgServer = '/api/common/uploadWangEditor'
        // 限制一次最多上传 5 张图片
        editor.customConfig.uploadImgMaxLength =1
        //上传图片名
        editor.customConfig.uploadFileName = 'file'
        // 隐藏“网络图片”tab
        editor.customConfig.showLinkImg = false
        //editor.customConfig.uploadImgShowBase64 = true
        //工具栏菜单
        editor.customConfig.menus = [
            'bold',  // 粗体
            'fontSize',  // 字号
            'foreColor',  // 文字颜色
            'justify',  // 对齐方式
            'image',  // 插入图片
            'undo',  // 撤销
            'redo'  // 重复

            /*'head',  // 标题
            'bold',  // 粗体
            'fontSize',  // 字号
            'fontName',  // 字体
            'italic',  // 斜体
            'underline',  // 下划线
            'strikeThrough',  // 删除线
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'link',  // 插入链接
            'list',  // 列表
            'justify',  // 对齐方式
            'quote',  // 引用
            'emoticon',  // 表情
            'image',  // 插入图片
            'table',  // 表格
            'video',  // 插入视频
            'code',  // 插入代码
            'undo',  // 撤销
            'redo'  // 重复
                        */

        ]
        editor.customConfig.debug = location.href.indexOf('wangeditor_debug_mode=1') > 0
        //限制图片大小
        editor.customConfig.uploadImgMaxSize = 512 * 1024
        //自定义设置 header
        editor.customConfig.uploadImgHeaders = {
            'Accept': 'text/x-json'
        };
        //
        editor.customConfig.uploadImgHooks = {

            customInsert: function (insertImg, result, editor) {
                // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）  |    insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
                // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
                if (result.error===0){
                    var url = result.url
                    insertImg(url)
                }else{
                    alert('图片上传失败')
                }
                /* console.log(result)
                 console.log(insertImg)
                 console.log(editor)*/
                // result 必须是一个 JSON 格式字符串！！！否则报错
            }
        };
        editor.create()
    }

    function spreadSelecteInput(){
        var inputWidth =$('#username').width()
        $('select').width(inputWidth)
    }





    window.onload=function () {
        initEditor();
        spreadSelecteInput();
    }
</script>
